.div-top {
  width: 100%;
  height: 400px;
}

.inner {
  float: left;
  height: 400px;
}

.middle {
  background: white;
  width: 60%;
}

.div_in_middle {
  float: bottom;
  width: 150px;
  margin: 0 auto 20px auto;
}

.left {
  width: 20%;
  background-image: "./img/download_pattern_left.png";
}

.right {
  width: 20%;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
