<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>https://wiley1992.github.io/TongYiECRC/setup.ipa</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<false/>
						<key>url</key>
						<string>https://wiley1992.github.io/TongYiECRC/img/pec_login.png</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.hand.tongyi.ecrc</string>
					<key>bundle-version</key>
					<string>1.24</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
					<string>业务E-CRC系统</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
